.btn {
    background: #FFE082;
    outline: 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}