.menu-divider{
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: white;
  top: 40px;
  right: 165px;
  opacity: 0.35;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {

  .menu-divider {
    display: none;
  }

}