.burger-menu{
  display: none;
}

.burger-menu img {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 40px;
  top: 28px;
}

.burger-menu .close{
  position: absolute;
  right: 18px;
  cursor: pointer;
  width: 25px;
  top: 35px;
}

.sign-in-btn{
    position: absolute;
    right: 30px;
    top: 14px;
    width: 98px;
    height: 36px;
    margin-top: 16px;
    padding-top: 10px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {
    .sign-in-btn {
      display: none;
    }

  .burger-menu{
    display: block;
  }
}