.menu{
  position: absolute;
  display: flex;
  top: 40px;
  white-space: nowrap;
  right: 170px;
}


.menu-item{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 24px;
  cursor: pointer;
}

.menu-item a{
  text-decoration: none;
  color:white;
  transition: all .5s ease;
}

.menu-item a:hover{
  color: white;
  transform: scale(1.1);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {

  .menu {
    display: none;
  }

}