.lang-container {
  position: absolute;
  right: 150px;
  top: 14px;
  &:hover , .select:hover {
    .select {
      display: grid;
    }
  }
}

.lang{
  cursor: pointer;
  margin-top: 20px;
}


.img{
  width: 8px;
  margin-left: 4px;
}

.span{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  align-items: center;
  text-align: right;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  /* Surface — App UI */

  color: #FFFFFF;
}

.select{
  width: 41px;
  height: 66px;
  background-color: white;
  text-align: center;
  position: absolute;
  border-radius: 2px;
  margin-left: -10px;
  display: none;
  box-shadow: 0 0 11px 3px #05484a;
}

.item {
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.item a{
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.active{
  background: #00696B;
  color: white;
}

.active a{
  background: #00696B;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {

  .lang-container {
    display: none;
  }

}