.footer{
  padding-bottom: 16px;
  background-color: white;
}

.footer .logo{
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer .logo .text {
  margin-left: 14px;
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.footer .divider{
  border: 1px solid rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  //margin-left: 150px;
  //margin-right: 75px;
  margin-top: 40px;

}

.footer .socials{
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.footer .socials .social {
  margin-right: 24px;
  border-radius: 20px;
}

.footer .socials .youtube{
  background-color: #f61c0d30;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 12px;
}

.footer .socials .youtube:hover,
.footer .socials .twitter:hover,
.footer .socials .linkedin:hover,
.footer .socials .instagram:hover,
.footer .socials .facebook:hover{
  transform: scale(1.5);
  border-radius: 25px;
  transition: all .5s ease;
}

.footer .socials .youtube_bg{
  background: url(../../../images/youtube.svg) no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
}

.footer .socials .twitter{
  background-color: #76A9EA30;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 12px;
}

.footer .socials .twitter_bg {
  background: url(../../../images/twitter.svg) no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
}


.footer .socials .linkedin{
  background-color: #0077B730;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 12px;
}

.footer .socials .linkedin_bg {
  background: url(../../../images/linkedin.svg) no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
}

.footer .socials .facebook{
  background-color: #47599330;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 12px;
}

.footer .socials .facebook_bg {
  background: url(../../../images/facebook.svg) no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
}

.footer .socials .instagram{
  background-color: #DC8F3F30;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 12px;
}

.footer .socials .instagram_bg {
  background: url(../../../images/instagram.svg) no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
}

.footer .privacy{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  color: #000000;
  margin-top: 32px;
  white-space: pre;
}