//.logo{
//  position: absolute;
//  top: 35px;
//  cursor: pointer;
//}

//.menu{
//  position: absolute;
//  display: flex;
//  top: 40px;
//  white-space: nowrap;
//  right: 215px;
//}
//
//.menu-item{
//  font-family: Roboto,sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 16px;
//  display: flex;
//  align-items: center;
//  letter-spacing: 0.75px;
//  text-transform: uppercase;
//  color: #FFFFFF;
//  margin-right: 24px;
//  cursor: pointer;
//}

//.menu-divider{
//  position: absolute;
//  width: 1px;
//  height: 14px;
//  background-color: white;
//  top: 40px;
//  right: 220px;
//  opacity: 0.35;
//}

//.sign-in-btn{
//  position: absolute;
//  right: 30px;
//  top: 14px;
//  width: 98px;
//  height: 36px;
//  margin-top: 16px;
//  padding-top: 10px;
//  background: #FFE082;
//  outline: 0;
//  border: 0;
//  border-radius: 4px;
//  cursor: pointer;
//
//  font-family: Roboto,sans-serif;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 14px;
//  line-height: 16px;
//  text-align: center;
//  letter-spacing: 0.85px;
//  text-transform: uppercase;
//  color: rgba(0, 0, 0, 0.87);
//}


//.lang-container {
//  position: absolute;
//  right: 150px;
//  top: 14px;
//  &:hover , #lang-select:hover {
//    #lang-select {
//      display: block;
//    }
//  }
//}

//.lang-container .lang{
//  cursor: pointer;
//  margin-top: 20px;
//}

//.lang:hover + #lang-select{
//  display: block;
//}

//.lang-container .lang img{
//  width: 8px;
//  margin-left: 4px;
//}
//
//.lang-container .lang span{
//  font-family: Roboto,sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 16px;
//  /* identical to box height, or 114% */
//
//  align-items: center;
//  text-align: right;
//  letter-spacing: 0.75px;
//  text-transform: uppercase;
//
//  /* Surface — App UI */
//
//  color: #FFFFFF;
//}
//
//#lang-select{
//  width: 41px;
//  height: 66px;
//  background-color: white;
//  text-align: center;
//  position: absolute;
//  border-radius: 2px;
//  margin-left: -10px;
//  display: none;
//  box-shadow: 0 0 11px 3px #05484a;
//}
//
//#lang-select .item {
//  cursor: pointer;
//  font-family: Roboto,sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 14px;
//  display: flex;
//  justify-content: center;
//  text-transform: uppercase;
//  color: rgba(0, 0, 0, 0.6);
//}
//
//#lang-select .active{
//  background: #00696B;
//  color: white;
//}

//.burger-menu{
//  display: none;
//}
//
//.burger-menu img {
//  position: absolute;
//  right: 18px;
//  cursor: pointer;
//  width: 40px;
//  top: 28px;
//}
//
//.burger-menu .close{
//  position: absolute;
//  right: 18px;
//  cursor: pointer;
//  width: 25px;
//  top: 35px;
//}

///* Medium devices (landscape tablets, 768px and up) */
//@media only screen and (max-width: 968px) {
//
//  .logo {
//    margin-left: 30px;
//  }
//
//  .menu>.menu-item,.menu-divider,.lang-container,.slider-img,.sign-in-btn {
//    display: none;
//  }
//
//  .burger-menu{
//    display: block;
//  }
//
//}


