.mobile-menu {
  min-width: 100%;
  margin-top: -14px;
}

.mobile-menu .item{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  mix-blend-mode: normal;
  margin-top: 24px;
  margin-bottom: 24px;
}

.mobile-menu .sign-btn {
  display: inline-block;
  width: 98px;
  height: 36px;
  background: #FFE082;
  outline: 0;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 10px;
}

.mobile-menu .lang {
  display: inline-flex;
}

.mobile-menu .lang .active {
  background: #00696B !important;
}

.mobile-menu .lang .active a {
  color: white !important;
}

.mobile-menu .lang .item {
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-right: 20px;
  padding-left: 8px;
}

.mobile-menu .lang .item a{
  color: #0A0A0A;
}

.mobile-menu .item a{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
}

.mobile-menu .item a:hover{
  transform: scale(1.1);
}