.notebook-version{
  position: absolute;
  right: 60px;
  margin-top: 60px;
}

.phone-version{
  position: absolute;
  right: -45px;
  margin-top: 50px;
}

.slider-container .title{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.slider-container .description{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;

  color: #FFFFFF;

  width: 90%;
  max-width: 670px;
}

.slider-container .information{
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.5px;

  color: #FFFFFF;

  max-width: 445px;
  width: 70%;
}

.try-btn{
  //width: 341px;
  position: absolute;
  height: 48px;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 4px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  /* Surface — App UI */

  color: #FFFFFF;
  margin-right: 12px;
}

.try-btn:hover{
  color: white;
  background-color: #1a7779;
  box-shadow: 0px -1px 0px 1px #1a7779;
}


.try-btn-container {
  margin-bottom: 60px;
  margin-right: 12px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {
  .slider-img {
    display: none;
  }

  .slider-content{
    margin-top: 24px;
    margin-left: 15px;
  }

  .slider-container .information{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.25px;
  }

  .try-btn-container {
    margin-bottom: 30px;
  }

  .slider-container .title{
    line-height: 40px;
    letter-spacing: 0.25px;
    font-size: 34px;
  }

  .slider-container .description {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
  }

}