@charset "utf-8";
@import "~bulma/bulma.sass";

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.app-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main .fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: -10px 0 0;
  z-index: 9;
}

.main .slider {
  min-width: 100%;
  margin-top: -14px;
}

.header-container {
  height: 80px;
  background: #00696B;
  border-bottom: 1px solid #275f61;
  margin-right: 0;
  box-shadow: 0 4px 8px rgba(28, 65, 84, 0.3);
}

.header-container-white {
  height: 80px;
  background: white;
  border-bottom: white;
  margin-right: 0;
  box-shadow: 0 8px 12px rgba(28, 65, 84, 0.08);
}

.slider-container {
  background-color: #20696b;
  margin-right: 0;
}

.header {
  //padding-left: 5%;
}

.web-content {
  padding-left: 10%;
}


.element-divider {
  border: 1px solid rgba(255, 255, 255, 0.32);
}


.yl-content {
  margin-top: 24px;
  //margin-left: 22px;
}

.yl-content .header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #00696B;
}

.yl-content .pg1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.yl-content .pg2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}


.yl-content .detail {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.yl-content .pricing-detail {
  margin-top: 17px;
  justify-content: center;
  flex-flow: wrap;
}

.yl-content .day {
  color: #20696b;
  font-size: 16px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}

.yp-content {
  text-align: center;
  align-items: stretch;
}

.yp-content .title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  mix-blend-mode: normal;
}

.yp-content .description {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
}

.yp-content .more_comp {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.38);
  padding-top: 50%;
  padding-bottom: 50%;
}


.package {
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  margin-left: 25px;
}

.package .title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #383C2F;
  text-align: left;
  margin-left: 23px;
  padding-top: 24px;
}

.package .price .currency {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #69CB9D;
}

.package .price {
  display: flex;
  margin-left: 23px;
}

.package .price .amount {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.5px;

  color: #69CB9D;
}

.package .price .discount {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #BBBBBB;
  margin-left: 4px;
  background: linear-gradient(145deg, #ffffff 49%, red 52%, #ffffff 51%);
}

.includes .include {
  display: flex;
  margin-left: 18px;
  margin-bottom: 8px;
}

.includes .include .detail {
  margin-left: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  text-align: initial;
}

.includes .include .amount {
  margin-left: 4px;
  color: #20696b;
  font-weight: bold;
  margin-bottom: 2px;
}

.includes .select-btn {
  background: #FFE082;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  width: 196px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 24px;
  padding-top: 12px;
  text-align: center;
}

.includes .title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

.about {
  background-color: #FAFAFA;
  margin-left: -110px;
  margin-right: -88px;
  margin-top: 78px;
  padding: 50px 70px 70px;
}

.about .header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #00696B;
}

.about .description {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
}

.about .mobiles img {
  margin-right: 31px;
}


.capability {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 1px #e0dede;
  min-height: 80px;
  max-width: 560px;
  padding: 8px 10px 18px 10px;
  text-align: left;
  margin-bottom: 18px !important;
}

.capability .title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 2px;
  margin-bottom: 6px;
}

.capability .desc {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}

.capability .control {
  cursor: pointer;
}

.yp-content .more_comp_package {
  background-color: #FAFAFA;
  border-radius: 4px;
  margin-left: 25px;
}

.about .platforms {
  margin-left: 200px;
}

.about .information {
  margin-right: 150px;
}

#about {
  display: block;
  position: absolute;
  margin-top: -70px
}

#features {
  position: absolute;
  display: block;
  margin-top: -50px;
}

#pricing {
  position: absolute;
  display: block;
  margin-top: -50px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {


  #about {
    display: block;
    position: absolute;
    margin-top: -50px;
  }

  #features {
    position: absolute;
    display: block;
    margin-top: -20px;
  }

  #pricing {
    position: absolute;
    display: block;
    margin-top: -50px;
  }

  .slider-container .slider-img img {
    display: none !important;
  }

  .yl-content .header {
    font-size: 24px;
    line-height: 28px;
  }

  .yl-content .feature {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .yp-content .capability {
    margin-right: 10px !important;
  }

  .yp-content .package {
    margin-right: 20px !important;
    margin-bottom: 33px !important;
    margin-left: 0 !important;
  }

  .yp-content .more_comp_package {
    display: none;
  }

  .about .header {
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px;
  }

  .about .description {
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
  }

  .slider .about .mobiles {
    text-align: center;
    padding-left: 14px;
  }

  .slider .about .platforms {
    margin-left: 0 !important;
  }

  .slider .about .information {
    margin-right: 0 !important;
  }
}