.logo{
  position: absolute;
  top: 35px;
  cursor: pointer;
}

///* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 968px) {
  .logo {
    margin-left: 4px;
  }
}